body {
    font-family: Arial, sans-serif;
    background: url(bacground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    padding: 20px;
    text-align: center;

} h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}#weather {
    margin-top: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
} footer {
    padding: 10px;
    background-color: rgba(24, 24, 27, 0.6);
    position: absolute;
    right: 0px;
    bottom: 0;
    width:100%;
    padding: 6px;
    text-align: center;
} #search-form {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); 
    border: 2px solid black;
    border-radius: 5px;
    max-width: 300px; 
    margin: 29px auto; 
}

#city-input, 
#search-form button {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #000; 
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#city-input {
    background-color: #e0f7fa; 

}